<h1 class="page-header">User Profile</h1>

<div class="main-container" data-ng-init="wishlist.getProfile();">
    
    <div class="profile-picture">
      
        <img id="pic" src="/img/{{ wishlist.profile.user.image }}" alt="Picture of User">
       
    </div>

    <div class="info-container">
        <div id="name-header" class="separator">
             <h3> {{ wishlist.profile.user.name }}</h3>
        </div>
        
        <div id="date" class="separator">
            <p><b>Profile Created On: </b>{{ wishlist.profile.user.created_on }}</p>
        </div>
        
        <div id="info-list" class="separator">
            <dl><dt>Email: </dt><dd style="text-align:left"> &nbsp&nbsp&nbsp&nbsp {{ wishlist.profile.user.email }}</dd>
                <dt>User ID: </dt><dd style="text-align:left"> &nbsp {{ wishlist.profile.user.id }}</dd>
                <dt ng-if="wishlist.profile.user.age != 0">Age: </dt><dd ng-if="wishlist.profile.user.age != 0" style="text-align:left"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{ wishlist.profile.user.age }}</dd>
                <dt ng-if="wishlist.profile.user.age == 0">Age: </dt><dd ng-if="wishlist.profile.user.age == 0" style="text-align:left"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &#x221e;</dd>
                <dt ng-if="wishlist.profile.user.gender != 'U'">Gender: </dt><dd ng-if="wishlist.profile.user.gender != 'U'" style="text-align:left"> &nbsp {{ wishlist.profile.user.gender }}</dd>
                <dt ng-if="wishlist.profile.user.gender == 'U'">Gender: </dt><dd ng-if="wishlist.profile.user.gender == 'U'" style="text-align:left"> &nbsp Unknown</dd>
            </dl>
        </div>
        
        <div id="about" class="separator">
            <p> I love making wishes on <a ng-click="wishlist.setRoute('home')">WishList.</a><!/p>
        </div>
    </div>
    
</div>

