<!--Wishlist Header-->
<div class="jumbotron">
  <h1 style="color:#932a93">Your Wishlist</h1>
  <p style="color:#932a93">All your heart's desires.</p>
  <!--Add item--><!--Share wishlist-->
  <p><a ng-click="wishlist.setRoute('add')" class="btn btn-success btn-lg" role="button">Make a wish</a>
  &emsp;
  <a ng-click="wishlist.setRoute('share')" class="btn btn-primary btn-lg" role="button">Share Wishlist</a></p>
</div>
<div data-ng-init="wishlist.getWishList();">
<!--Wishlist Message-->
<div ng-if="wishlist.wishes.message" class="alert alert-info" role="alert">{{ wishlist.wishes.message }}</div>
<!--Wishlist Items-->
<div class="row">
  <div class="col-sm-6 col-md-4" ng-repeat="wish in wishlist.wishes.items">
    <div class="thumbnail">
      <!--Thumbnail-->
      <img ng-src="{{ wish.thumbnail_url }}" alt="{{ wish.title }}" class="img-thumbnail" height="300" width="150">
      <div class="caption">
        <!--Title-->
        <a href="{{ wish.url }}"><h3>{{ wish.title }}</h3></a>
        <!--Description-->
        <p>{{ wish.description }}</p>
        <!--Item ID (hidden)-->
        <p class="ng-hide" ng-init="wishlist.delwish.itemid=wish.id">{{ wish.id }}</p>
        <!--Delete item-->
        <p><a ng-click="wishlist.deleteItem();" class="btn btn-danger" role="button">Delete</a></p>
        <!--Get item-->
        <!--<p><a href="{{ wish.url }}" class="btn btn-success" role="button">GET</a></p>-->
       
      </div>
    </div>
  </div>
</div>
<!--WishList Footer-->
</div>