{% extends "base.html" %} 

{% block main %} 

<h1 class="page-header">Register</h1>
<p> Fill in this form to sign up for an account.</p>
<br>

{% include 'flash_messages.html' %}

<!--SHAN TO BUILD FRONT-END USING ANGULARJS-->
{% raw %}
{% endraw %}

<form method="POST" action="{{ url_for('signup') }}" enctype="multipart/form-data">
    
    {{ form.csrf_token }}
    
    <div class="form-group">
        <label for="Name">{{ form.name.label }}<b style="color:red"> (Required)</b></label>
        <p class="help-block">Please enter your full name.</p>
        {{ form.name(size=80) }}
    </div>
    <div class="form-group">
        <label for="Age">{{ form.age.label }}<b style="color:red"> (Required)</b></label>
        <p class="help-block">Please enter your age.</p>
        {{ form.age }}
    </div>
    <div class="form-group">
        <label for="Gender">{{ form.gender.label }}<b style="color:red"> (Required)</b></label>
        <p class="help-block">Please select your gender.</p>
        {{ form.gender }}
    </div>
    <div class="form-group">
        <label for="Email">{{ form.email.label }}<b style="color:red"> (Required)</b></label>
        <p class="help-block">Please enter your email address.</p>
        {{ form.email }}
    </div>
     <div class="form-group">
        <label for="Password">{{ form.password.label }}<b style="color:red"> (Required)</b></label>
        <p class="help-block">Please choose a password. Password must be at least eight characters including one uppercase letter, one special character and alphanumeric characters </p>
        <!--SHAN *N.B. ADD CODE TO CHECK FOR PASSWORD STRENGTH-->
        {{ form.password }}
    </div>
    <div class="form-group">
        <label for="User Picture">{{ form.image.label }}<b style="color:blue"> (Optional)</b></label>
        <p class="help-block">Please upload a picture of yourself.</p>
        {{ form.image }}
    </div>
    
    <button class="btn btn-primary active" type="submit">Register</button>
    
</form>
{% endblock %}

{% block js %}
<!-- Angular Basics -->
{% include 'angular.html' %}
{% endblock%}