{% extends "base.html" %}

{% block main %}
<h1 class="page-header">Your Wishlist</h1>
<!-- AngularJS Code (SHAN) -->
{% raw %}
<div class="container" ng-app="" ng-controller="">
  <!-- View wishlist items Code -->
  <!-- Add item to wishlist Code -->
  <!-- Remove item from wishlist Code -->
  <!-- Share wishlist Code (GEORGIA) -->
</div>
{% endraw %}
<button type="submit"> Share Wishlist </button>
{% endblock %}

{% block js %}
<!-- Angular Basics -->
{% include 'angular.html' %}
<!-- Thumbnail API Service -->
<script src="{{ url_for('static',filename='js/thumbnails.js') }}"></script>
{% endblock%}