{% extends "base.html" %}

{% block main %}
<h1 class="page-header">Your Wishlist</h1>
<!-- AngularJS Code -->
{% raw %}
<div class="container" ng-app="" ng-controller="">
  <!-- View wishlist items Code -->
  <!-- Add item to wishlist Code -->
  <!-- Remove item from wishlist Code -->
  <!-- Share wishlist Code (Georgia) -->
</div>
{% endraw %}
{% endblock %}

{% block js %} 
<!-- AngularJS Library -->
<script src="{{ url_for('static',filename='js/angular.min.js') }}"></script>
<!-- App Module -->
<script src="{{ url_for('static',filename='js/app.js') }}"></script>
<!-- Thumbnail API Service -->
<script src="{{ url_for('static',filename='js/thumbnails.js') }}"></script>
{% endblock%}